body {
    margin: 0px 0px 0px 0px;
}

header {
    border: 2px solid red;
    position: fixed;
    width: 100%;
}

#top-menu {
    border: 1px dashed red;
    padding: 15px;
    text-align: right;
}

#main-menu {
    border: 1px dashed red;
    padding: 15px;
}

#logo {
    border: 1px dashed red;
    padding: 35px;
}

#content {
    border: 2px solid black;
}

footer {
    border: 2px solid blue;
    padding: 15px;
}
