body {
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    
    background-color: black;
    color: white;
    font-size: 40px;
    font-family:"Courier New";
}
/* All links*/
a {
    color: white;
    font-size: 50px;
}
/*Button Links*/
a.button {
    text-decoration: none;
}

/* unvisited link */
a:link {
    background-color: black;
}

/* mouse over link */
a:hover {
    background-color: grey;
}

div.text{
    position: absolute;
    top: 20%;
    right: 30%;
}

div.links{
    position: absolute;
    top: 20%;
    right: 10%;
}
