body{
    background-color: black;
    color: white;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    font-family:"Courier New";
}
a {
    font-size: 30px;
}
